<%-include ("partials/header")-%>
<div class="container">
    <h1 class="edit">Login</h1>
    <div class="container">
        <form class="Style"action="/login" method="POST">
            <div class="form-group">
                <input class="form-control" type="text" placeholder="username" name="username">
            </div>
            <div class="form-group">
                <input class="form-control" type="password" placeholder="password" name="password">
            </div>
            <div class="form-group">
                <button class="form-control btn btn-block btn-primary">Submit</button>
            </div>
        </form>
    </div>
    
</div>

<%-include ("partials/footer")-%>