#CARD{
    display: flex; 
    border-radius: 10%;
    flex-wrap: wrap;
}
.img-thumbnail{
    padding: 0%;
}
.col-md-3{
    padding-top: 15px;

}
.col-md-10{
    padding-top: 50px;
}
.image-responsive{
    width: 100%;
    padding-bottom: 20px;
}
#Mobile{
    padding-top: 15%;
}
#head{
    padding-top: 55px;
}
.edit{
    text-align: center;
}
.Style{
    width: 30%; 
    margin: 25px auto;
}
#delete{
    display: inline;
}